<div class="ui comments">
  <h3 class="ui dividing header"> All Comments</h3>
  <% post.post_comments.each do |post_comment| %>
    <div class="comment">
      <a class="avatar">
        <%= attachment_image_tag post_comment.user, :profile_image, fallback: 'noimage' %>
      </a>
      <div class="content">
        <a class="author"><%= post_comment.user.name %></a>
        <div class="metadata">
          <span class="date">posted at .. <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
        </div>
        <div class="text">
          <p><%= post_comment.comment %></p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="ui reply form">
    <div class="field">
    <%= form_with(model:[post, PostComment.new],url: user_post_post_comments_path(post.id), local: true) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
      <%= f.submit "送信する", class: 'ui button violet', style: 'margin-top: 10px;' %>
    <% end %>
    </div>
  </div>
</div>