<div class="ui text container">
  <h1 style="margin-top: 150px;">LOG IN(管理者)</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="ui form" style="margin-top: 50px;">
      <div class="field">
        <%= f.label "email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions" style="text-align: center;">
        <%= f.submit "Log in", class: "ui button orange" %>
      </div>
    </div>
  <% end %>
</div>

