<div class="ui container" style="margin-top: 50px;">
  <% if flash[:follow_arert] %>
    <div class="ui warning message">
      <div class="header">
        <%= flash[:follow_arert] %>
      </div>
    </div>
  <% end %>
  <div class="ui two column grid">
    <div class="ui column special">
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <% if @user != current_user %>
                  <%= render 'user/relationships/follow', user: @user %>
                <% else %>
                  <%= link_to 'edit', edit_user_user_path(current_user.id), class: 'ui button primary'%>
                <% end %>
              </div>
            </div>
          </div>
          <%= attachment_image_tag @user, :profile_image, fallback: 'noimage', class: 'ui medium centered circular image' %>
        </div>
      </div>
    </div>
    <div class="column" style="margin-top: 10px;">
      <div class="ui statistics">
        <div class="statistic">
          <div class="value">
            <%= @user.favorites.count %>
          </div>
          <div class="label">
            Favorites
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            <%= @user.posts.count %>
          </div>
          <div class="label">
            Posts
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            <%= @user.followers.count %>
          </div>
          <div class="label">
            Followers
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            <%= @user.followings.count %>
          </div>
          <div class="label">
            Followings
          </div>
        </div>
      </div>
      <div class="ui divided list" style="margin-top: 30px;">
        <div class="item">
          <i class="map marker icon"></i>
          <div class="content">
            <a class="header">Registration date</a>
            <div class="description"><%= @user.created_at.strftime('%Y/%m/%d') %></div>
          </div>
        </div>
        <div class="item">
          <i class="map marker icon"></i>
          <div class="content">
            <a class="header">User Name</a>
            <div class="description"><%= @user.name %></div>
          </div>
        </div>
        <div class="item">
          <i class="map marker icon"></i>
          <div class="content">
            <a class="header">Follews</a>
            <div class="description"><%= @user.followers.count %></div>
          </div>
        </div>
        <div class="item">
          <i class="map marker icon"></i>
          <div class="content">
            <a class="header">Follews</a>
            <div class="description"><%= @user.followings.count %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui container">
    <%= render 'user/homes/user_posts', posts: @user.posts, user: @user %>
  </div>
</div>