<ul class="ui container segment">
  <div>
    <%= attachment_image_tag current_user, :profile_image, fallback: 'noimage.png', class: 'ui medium centered circular image' %>
  </div>
  <%# user name %>
  <li class="ui list">
    <div class="ui grid">
      <div class="four wide column"><i class="user icon"></i>User name:</div>
      <div class="twelve wide column"><%= current_user.name %></div>
    </div>
  </li>
  <%# user email %>
  <li class="ui list">
    <div class="ui grid">
      <div class="four wide column"><i class="envelope outline icon"></i>User email</div>
      <div class="twelve wide column"><%= current_user.email %></div>
    </div>
  </li>
  <%# 登録日 %>
  <li class="ui list">
    <div class="ui grid">
      <div class="four wide column"><i class="registered outline icon"></i>Registration date</div>
      <div class="twelve wide column"><%= current_user.created_at.strftime('%Y/%m/%d') %></div>
    </div>
  </li>
  <%# 投稿数 %>
  <li class="ui list">
    <div class="ui grid">
      <div class="four wide column"><i class="images outline icon"></i>Posts amount</div>
      <div class="twelve wide column"><%= current_user.posts.count %> posts</div>
    </div>
  </li>
  <li class="ui list">
    <div class="ui grid">
      <div class="four wide column"><i class="user icon"></i>Follews</div>
      <div class="twelve wide column"></div>
    </div>
  </li>
  <li class="ui list">
    <div class="ui grid">
      <div class="four wide column"><i class="users icon"></i></i>Follwers</div>
      <div class="twelve wide column"></div>
    </div>
  </li>
  <li class="ui list">
    <div class="ui grid">
      <div class="four wide column"><i class="heart icon"></i>favorites</div>
      <div class="twelve wide column"></div>
    </div>
  </li>
  <h4 class="ui horizontal inverted divider" style="margin-top: 40px; color: black;">Menu</h4>
  <div class="ui three grid">
    <div class="six wide column">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {confirm: 'ログアウトしますか？'}, class: "ui button basic violet" %>
    </div>
    <div class="five wide column" style="padding-right: 80px;">
      <%= link_to "Withdraw", user_user_withdraw_path(current_user.id), class: 'ui button basic violet' %>
    </div>
    <div class="five wide column">
      <%= link_to "Edit", edit_user_user_path(current_user.id), class: 'ui button basic violet' %>
    </div>
  </div>
</ul>