<div class="ui container" style='margin-top: 30px; margin-bottom: 50px;'>
  <div class="ui three cards">
    <% @posts.each do |post| %>
      <div class="ui card">
        <div class="content">
          <div class="right floated meta"><%= post.created_at.strftime('%Y/%m/%d') %></div>
          <%= attachment_image_tag post.user, :profile_image, fallback: 'noimage', class: 'ui avatar' %>
          <%= post.post_user %>
        </div>
        <div class="image">
          <%= attachment_image_tag post, :image, fallback: 'nopost_image' %>
        </div>
        <div class="content">
          <span class="right floated">
            <%= render 'user/favorites/favorites', post: post %>
          </span>
          <i class="comment icon"></i>
          <%= post.post_comments.count%>
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon">
            <%= link_to  user_post_path(post.id) do %>
              <p>Add Comment...</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="margin-top: 50px; text-align:center;">
    <%= paginate @posts %>
  </div>
</div>


