<div class="ui center alinged container" style="padding-top: 100px;">
  <div style="text-align: center; margin-bottom: 50px;">
    <% if flash[:message] %>
      <div class="ui warning message">
        <div class="header">
          <%= flash[:message] %>
        </div>
      </div>
    <% end %>
    <div class="ui search">
      <%= form_with url: admin_users_user_search_path, local: true do |f| %>
        <div class="ui icon input">
          <%= f.text_field :user_name, placeholder: '名前を入力... ' %>
          <%= button_tag do %>
            <i class="search icon"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <table class="ui blue table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>status change</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <% if user.deleted_at != nil %>
            <td>退会済み</td>
          <% else %>
            <td>会員</td>
          <% end %>
          <%= form_with model: user, url: user_user_path(user.id), local: true do |f| %>
            <% if user.deleted_at == nil %>
              <td>alive</td>
            <% else %>
              <td>delete</td>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>